
    <footer class="footer">
        <div class="footer__top">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer__top-inner">
                            <a href="" class="footer__logo">
                                <img src="img/logo-white.svg" alt="">
                            </a>
                            <div class="footer__navs">
                                <ul class="footer__nav">
                                    <li>
                                        <a href="">
                                            Für Kunden
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Für Experten
                                        </a>
                                    </li>
                                </ul>
                                <ul class="footer__nav">
                                    <li>
                                        <a href="">
                                            Expertenauswahl
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Dienstleistungen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Neueste Bewertungen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Über den Service
                                        </a>
                                    </li>
                                </ul>
                                <ul class="footer__nav">
                                    <li>
                                        <a href="">
                                            Service-News
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            FAQ
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Kontakt
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Datenschutz-Bestimmungen
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer__block d-none d-xxl-block">
                                <a href="" class="footer__fb-link">
                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="28" height="28" rx="14" fill="#4267B2"/>
                                        <path d="M12.2962 21.3327V14.7224H10.001V12.2664H12.2962V10.1395C12.2962 7.96666 13.551 6.66602 15.6626 6.66602C16.3188 6.67287 16.9735 6.72913 17.6212 6.83433V8.91536H16.5577C16.3476 8.88983 16.1343 8.91126 15.9335 8.97811C15.7326 9.04497 15.549 9.15557 15.396 9.30195C15.2431 9.44834 15.1245 9.62684 15.0489 9.8246C14.9732 10.0224 14.9425 10.2344 14.9587 10.4455V12.2664H17.4912L17.1163 14.7224H14.974V21.3327H12.2962Z" fill="white"/>
                                    </svg>                                        
                                    <span>Befolgen</span>
                                </a>
                                <div class="footer__copyright">
                                    © 2021 Alle Rechte vorbehalten
                                </div>
                            </div>
                            <ul class="footer__payments">
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-1.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-2.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-3.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-4.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-5.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-6.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-7.svg" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="img/payment-icon-8.svg" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bot d-xxl-none">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer__copyright">
                            © 2021 Alle Rechte vorbehalten
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- <div class="scroll-top">
        <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 9L9.37257 1L17 9" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>            
    </div> -->

    <div class="progress-wrap">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
		</svg>
	</div>

</div>